[submodule "isitup"]
	path = isitup
	url = https://github.com/theycallmemac/isitup
[submodule "nslookup_faas"]
	path = nslookup_faas
	url = https://github.com/JockDaRock/nslookup_faas
[submodule "openfaas-certinfo"]
	path = openfaas-certinfo
	url = https://github.com/stefanprodan/openfaas-certinfo
[submodule "bus-and-luas/transport/dublinbus-luas-api"]
	path = bus-and-luas/transport/dublinbus-luas-api
	url = https://github.com/RoryH/dublinbus-luas-api
[submodule "wiki/wiki/brickbot-wiki"]
	path = wiki/wiki/brickbot-wiki
	url = https://github.com/ciankehoe/brickbot-wiki
